*{
    background-color: burlywood;
    box-sizing: border-box;
}
a{
    color: black;
    background-color: bisque;
}
.header{
    display: flex;
    justify-content: center;
    font-size: 40px;
}
.food{
    display: flex;
    justify-content: center;
    height: 60vh;
    align-items: center;
}
.chicken, .pasta, .salad{
    text-align: center;
    font-size: 2em;
    width: 350px;
    height: 350px;
    border: 5px solid brown;
    background-color: bisque;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}
img{
    margin: 30px;    
    text-align: center;
}